header {
  overflow: hidden;
}
.navbar {
  display: flex;
  height: 50px;
  background: var(--colorLight);
  color: var(--colorDark);
}

h1 {
  margin: 0 0 0 15px;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: 4px;
}

h1 span {
  color: #6c802f;
  /* text-shadow: 1px 1px 1px #333; */
}

.btnSidebar {
  margin: 10px;
}

.header-links {
  flex: 1;
  text-align: right;
}
.header-links a {
  line-height: 50px;
  text-decoration: none;
  padding-right: 15px;
  color: #6c802f;
  transition: color 0.3s ease-in;
}
.header-links a:hover {
  color: #4c5a21;
}
@media screen and (max-width: 700px) {
  .header-links {
    display: none;
  }
}
