.year-control {
  position: absolute;
  bottom: 10px;
  white-space: nowrap;
  z-index: 1000;
  border-radius: 3px;
  background: rgba(255, 255, 255, 1);
  height: 25px;
  line-height: 25px;
  width: 102px;
}

.year-control .inactive {
  visibility: hidden;
}
.year-control.year-main {
  left: 10px;
}

.year-control.year-swipe {
  right: 10px;
}
.year-control span {
  padding: 0 10px;
}

.year-control a {
  display: inline-block;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}
