#map {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.map {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}
#beforeMap,
#afterMap {
  background: black;
}

.mapboxgl-compare .compare-swiper {
  bottom: 50px !important;
  top: inherit;
}

.mapboxgl-ctrl-gl-image {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDMyIDMyIj4NCjxwYXRoIGQ9Ik0yNy42MjQgMjAuOTU1bC0wLjk1OCA1LjA3MmgtMjEuMzMybC0wLjk1OC01LjA3MmgtMi4zODV2OC4wNjJoMjguMDE4di04LjA2MmgtMi4zODV6TTI3LjAyMCAxMS45NDZoLTcuMDIydi0yLjkzaC03Ljk5NHYyLjkzaC02Ljk1NWwxMC45MTQgMTEuNDEyIDExLjA1Ny0xMS40MTJ6TTE5Ljk5NyAzLjk4MmgtNy45OTR2MS4wNjZoNy45OTR2LTEuMDY2ek0xOS45OTcgNS45NzNoLTcuOTk0djIuMDM4aDcuOTk0di0yLjAzOHoiLz4NCjwvc3ZnPg==);
}
