/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-control-container {
  @apply print:hidden;
}

.leaflet-control-magnifying-glass {
  background-image: url("../img/logo.svg");
  background-size: auto 22px;
}

.leaflet-magnifying-glass {
  @apply absolute overflow-hidden rounded-full border-8 border-emerald-700;
  box-shadow: 0 0 50px black,
  inset 0 0 4px black;
  cursor: all-scroll;
}

.leaflet-magnifying-glass>.leaflet-container {
  @apply w-full h-full;
}

.leaflet-control-magnifying-glass.glassactive {
  background-color: #22c55e !important;
}


#sw-dialog::backdrop {
  backdrop-filter: blur(3px);
}
#sw-dialog[open] {
  animation: show-dialog 1s ease normal;
}
@keyframes show-dialog {
  from {
    opacity: 0;
    transform: translateY(-110%);

  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
