/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: landscape
  }
}

.leaflet-control-container {
  @apply print:hidden;
}

#sw-dialog::backdrop {
  backdrop-filter: blur(3px);
}
#sw-dialog[open] {
  animation: show-dialog 1s ease normal;
}
@keyframes show-dialog {
  from {
    opacity: 0;
    transform: translateY(-110%);

  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
