/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@media print{
  @page {
    size: landscape
  }
}

input {
  @apply accent-primaryPoppyRed focus:border-primaryPoppyRed
}

* {
  scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  @apply bg-slate-500;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-slate-800;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-800;
}

.leaflet-container {
  @apply focus:outline-none;
  background: #1e293b !important;
}

.leaflet-control-container {
  @apply print:hidden;
}

#sw-dialog::backdrop {
  backdrop-filter: blur(3px);
}
#sw-dialog[open] {
  animation: show-dialog 1s ease normal;
}
@keyframes show-dialog {
  from {
    opacity: 0;
    transform: translateY(-110%);

  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
